.storeAdminDashboard {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.541),
      rgba(0, 0, 0, 0.493)
    ),
    url('../../../assets/images/supermarket-g18f5e2562_1920.jpg');
  background-position: center;
  background-size: cover;
  height: 200px;
}
