.titleBanner {
  background-image: linear-gradient(
      to right bottom,
      rgba(41, 33, 33, 0.657),
      rgba(42, 29, 29, 0.644)
    ),
    url('../../assets/images/mountain.jpg');
  background-position: center;
  background-repeat: no-repeat;
}
