.footerLogo {
  height: max-content;
  width: 200px;
}

.footerColor {
  // background-color: rgb(39, 39, 39);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right bottom,
      rgba(51, 50, 50, 0.747),
      rgba(0, 0, 0, 0.767)
    ),
    url('../../assets/images/footerBackground.jpg');
}
