.sideMenu {
  background-image: linear-gradient(
    to right bottom,
    rgba(45, 32, 105, 0.884),
    rgba(50, 28, 131, 0.822)
  );
  & .staffList {
    list-style: none;
  }
  & a {
    color: white;
  }
}
